table > thead > tr > th {
	white-space: nowrap !important;
	background-color: #fff !important;
}

.table-scrollable {
	overflow-x: auto;
	max-width: 100%;
	/* box-shadow: inset 0 0 5px rgba(150, 150, 150, 0.35); */
	margin: auto;
}

.deadline {
	padding-left: 20px;
	color: #fff;
	text-decoration: blink;
}

.time {
	display: inline-grid;
}

.square {
	width: 30px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	background-color: red;
	text-align: center;
	padding: 2px;
	border-radius: 7px;
}

.caption {
	margin-top: 4px;
	font-size: 8px;
	text-align: center;
	color: #fff;
}

.inline-full {
	white-space: nowrap;
}

.addColor-widget {
	border-top: 3px solid #445ede;
}

.badge-date-full {
	position: relative;
	margin-bottom: 10px;
	min-width: 30px !important;
	min-height: 30px !important;
	border-radius: 30px;
	padding-top: 7px;
}

.hide {
	display: none;
}
.show {
	display: block;
}
.sub-badge {
	position: relative;
	left: -9px;
	font-size: 11px;
	font-weight: bold;
	background-color: #0032ff;
	color: #fff;
	padding: 3px 4px;
	border-radius: 30px;
	top: 10px;
	min-width: 22px;
	text-align: center;
}

.info-cdtg {
	padding: 10px 18px;
	border-radius: 5px;
	background-color: #fff;
}

.tag-history {
	text-align: center;
	font-weight: bold;
	color: #445ede;
	border-bottom: 1px dashed #445ede;
	margin-bottom: 5px;
	padding-bottom: 5px;
}

.alert-danger > p {
	color: #fff !important;
}

.hidden {
	display: none !important;
}

.myform {
	height: 385px;
	width: 100%;
	overflow-y: auto;
}

#changeDate {
	border-radius: 6px;
	background-color: whitesmoke;
	padding: 10px 10px;
}

.historyChange {
	border-radius: 6px;
	background-color: whitesmoke;
	padding: 10px 10px;
}

#tblHsitoryDate > tbody > tr > td {
	padding: 6px;
	border-bottom: 1px solid #e4e4e4;
	color: #686868;
}

.hr {
	border: 2px solid red;
}

.btn-excel,
.btn-excel:hover,
.btn-excel:focus {
	color: #fff !important;
	background-color: #2f8748;
	box-shadow: none;
	border-color: #2f8748;
}
.img-news,
.img-destination {
	min-width: 70px;
	min-height: 70px;
	max-width: 70px;
	max-height: 70px;
	object-fit: cover;
	background-color: #fff;
	border-radius: 5px;
}
.img-news:hover {
	object-fit: contain;
	border: 2px solid #445ede;
	transition: 0.3s;
	transform: scale(2);
}

.img-destination:hover {
	object-fit: contain;
	border: 1.5px solid #445ede;
	transition: 0.3s;
	transform: scale(3);
}

.w100 {
	width: 100px;
}

.w200 {
	width: 200px;
}

/* Floating btn chat */
#livechat-compact-container {
	height: 153px;
	position: fixed;
	right: 0;
	top: 200px;
	top: 30vh;
	z-index: 10000;
}

.btn-chat a {
	font-family: arial;
	color: #fff;
	text-decoration: none;
	background: #445ede;
	padding: 24px 20px 8px;
	display: block;
	font-weight: bold;
	font-size: 14px;
	box-shadow: 0 0 0 1px #445ede inset;
	border: 1px solid #445ede;
	border-radius: 2px;
	-ms-transform: rotate(90deg) translate(0, -20px);
	-webkit-transform: rotate(90deg) translate(0, -20px);
	transform: rotate(90deg) translate(0, -20px);
	position: relative;
	right: -27px;
	bottom: -390px;
	transition: background 0.2s, right 0.2s;
}

.btn-chat a:hover {
	color: #fff;
	background: #2eb700;
	box-shadow: 0 0 0 1px #2eb700 inset;
	border: 1px solid #2eb700;
	/* background: #47b6f5; */
	right: -22px;
	transition: background 0.2s, right 0.2s;
}

/* test 2 */
.float {
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 40px;
	right: 40px;
	background-color: #0c9;
	color: #fff;
	border-radius: 50px;
	text-align: center;
	box-shadow: 2px 2px 3px #999;
	transition: 0.4s;
}

.float:hover {
	background-color: rgb(0, 171, 128);
}

.my-float,
.my-float:active,
.my-float:hover,
.my-float:focus {
	color: #fff;
	margin-top: 17px;
}
/* test 2 */
/* Floating btn chat */

.h6-userrole {
	background-color: #fff100;
	padding: 6px 12px;
	border-radius: 5px;
	color: #343434;
	margin-bottom: 10px;
}

.scroll-climber {
	overflow-y: scroll;
	height: 296px;
}

.photo-profile {
	/* margin: 0 auto; */
	border: 2px dashed #445ede;
	border-radius: 10px;
	padding: 4px;
	min-width: 220px;
	max-width: 220px;
	min-height: 248px;
	max-height: 248px;
}

.my-alert-danger {
	position: relative;
	color: #fff;
	background-color: #e2a03f;
	padding: 0.75rem 1.25rem;
	border-radius: 0.25rem;
	margin-bottom: 1rem;
}

.for-date {
	align-items: baseline;
	display: inline-flex;
	width: 50px;
	/* background-color: silver; */
	height: 36px;
	margin-bottom: 7px;
}

.list-improve {
	min-height: 182px;
	background-color: #5ecd3e;
	padding: 10px 20px;
	color: #fff;
	border-radius: 6px;
	margin-bottom: 20px;
	font-weight: 500;
}

.my-note {
	/* background-color: #e2a03f; */
	padding: 10px 20px;
	border-radius: 6px;
	/* margin-bottom: 25px; */
	margin-bottom: 10px;
}

.my-note > p {
	font-size: 14px;
	color: #fff;
	font-weight: 500;
}

.my-note > p > a {
	color: #fffa00;
	text-decoration: revert;
}

.c1 {
	background-color: #ff5b5b;
}

.c2 {
	background-color: #5ecd3e;
}

.latest {
	background-color: #f00;
	color: #fff;
	padding: 2px 6px;
	border-radius: 5px;
	font-size: 11px;
	font-weight: 700;
}
